.dropdown {
  &-container {
    display: inline-block;
    position: relative;
  }

  &-selected-button {
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 13px;
    font-family: inherit;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: var(--darkGray);
    cursor: pointer;

    &::before {
      display: block;
      width: 16px;
      height: 16px;
      background: url("../../assets/icons/icon_multilingual.svg") no-repeat center center / contain;
      margin-right: 6px;
      content: '';
    }

    &::after {
      display: block;
      width: 12px;
      height: 12px;
      background: url("../../assets/icons/icon_arrow_down.svg") no-repeat center center / contain;
      margin-left: 6px;
      content: '';

      @at-root .active & {
        background: url("../../assets/icons/icon_arrow_top.svg") no-repeat center center / contain;
      }
    }
  }

  &-list {
    list-style: none;
    padding: 0;
    border-radius: 10px;
    border: 1px solid var(--lightgray);
    min-width: 100px;
    width: max-content;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 0;
    background-color: var(--white);
    z-index: 10;
  }

  &-item {
    &:not(:last-child) {
      border-bottom: 1px solid var(--lightgray);
    }

    &-button {
      background-color: transparent;
      cursor: pointer;
      width: 100%;
      border-radius: 0;
      border: none;
      padding: 10px;
      box-sizing: border-box;

      &.active {
        background-color: var(--primaryGreen);
        color: var(--white);
      }
    }
  }
}
