.tab {
  &-list {
    list-style: none;
    margin: 0 auto 50px auto;
    padding: 0;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--gray);
    height: 100%;
    max-width: 600px;
  }

  &-item {
    flex: 1;
  }

  &-button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    border-radius: 0;
    font-family: inherit;
    font-weight: 700;
    color: var(--gray);
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;

    @media screen and (min-width: 1100px) {
      font-size: 22px;
      padding: 20px;
    }

    &.active {
      color: var(--primaryGreen);
      position: relative;

      &::after {
        display: block;
        width: 100%;
        height: 5px;
        background-color: var(--primaryGreen);
        position: absolute;
        left: 0;
        bottom: -1px;
        z-index: 1;
        content: '';
      }
    }
  }
}
