.gnb {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  @media (max-width: 992px) {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    background-color: var(--white);
  }

  &.active {
    background-color: rgba(255, 255, 255, .4);
    backdrop-filter: blur(20px);
  }

  &-inner {
    max-width: 1100px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: 992px) {
      margin: 20px;
    }
  }

  &-logo {
    @media (max-width: 992px) {
      flex: 1;
    }

    &-link {
      display: inline-block;
    }

    &-image {
      width: 110px;
      height: auto;
      vertical-align: top;
    }
  }

  &-menu {
    &-list {
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0 0 0 10px;
      padding: 0;
      flex: 1;
    }

    &-item {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    &-link {
      text-decoration: none;
      display: inline-block;
      padding: 10px 5px;
      color: var(--black);
      box-sizing: border-box;
      font-weight: bold;

      &:hover {
        position: relative;

        &:after {
          position: absolute;
          left: 5px;
          bottom: 10px;
          width: calc(100% - 10px);
          height: 1px;
          background-color: var(--black);
          content: '';
        }
      }
    }
  }

  &-mobile {
    &-open-button {
      padding: 0;
      border: none;
      display: block;
      width: 24px;
      height: 24px;
      background: url("../../assets/icons/icon_menu.svg") no-repeat center center / contain;
      border-radius: 0;
      cursor: pointer;
    }

    &-menu-layer {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
    }

    &-header {
      display: flex;
      align-items: center;
      padding: 20px;
      box-sizing: border-box;
    }

    &-logo {
      flex: 1;

      &-link {
        display: inline-block;
      }

      &-image {
        width: 110px;
        height: auto;
        vertical-align: top;
      }
    }

    &-close-button {
      padding: 0;
      border: none;
      display: block;
      width: 24px;
      height: 24px;
      background: url("../../assets/icons/icon_close.svg") no-repeat center center / contain;
      border-radius: 0;
      cursor: pointer;
    }

    &-body {
      padding: 20px;
      box-sizing: border-box;
      height: 100%;
      max-height: calc(100vh - 150px);
      overflow-y: auto;
      z-index: 100;
    }

    &-menu-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &-menu-item {
      margin-bottom: 50px;
    }

    &-menu-link {
      text-decoration: none;
      color: #000;

      &.bold {
        font-weight: bold;
      }
    }

    &-footer {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
    }
  }
}
