.hero {
  &-image {
    width: 100%;
    height: auto;

    &-container {
      position: relative;

      &::after {
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 29.53%, rgba(255, 255, 255, 0.5) 55.93%, var(--white) 77.25%);
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
      }
    }
  }
}
