.image-card {
  &-title {
    padding: 0 15px;
    box-sizing: border-box;

    @media screen and (min-width: 992px) {
      padding: 0;
    }
  }

  &-container {
    background-color: var(--lightGreen);
    padding: 80px 0;
    box-sizing: border-box;

    @media screen and (min-width: 430px) {
      padding: 100px 0;
    }

    @media screen and (min-width: 992px) {
      padding: 150px 0;
    }
  }
}
