:root {
  --white: #fff;
  --black: #000;
  --primaryGreen: #485c11;
  --lightGreen: #dfecc6;
  --darkGray: #6f6f6f;
  --gray: #929292;
  --lightgray: #ddd;
  --disabled: #e9e9e9;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Pretendard, sans-serif;
  font-weight: 400;
}

strong {
  font-weight: 700;
}
